{% extends "base.html" %}

{% block modals %}
{% include "form.html" %}
{% endblock %}

{% macro dropdown(menu, options) %}
<li class="dropdown">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        {{ menu }} <span class="caret"></span> </button>
    <ul class="dropdown-menu">
        {% for option in options %}
        <li> <a data-toggle="modal" data-target="#{{option[1]}}"> {{ option[0] }} </a> </li>
        {% endfor %}
    </ul>
</li>
{% endmacro %}

{% block content %}
<div class="navbar navbar-default navbar-fixed-top">
    <ul class="nav navbar-nav">
        {{ dropdown("File", 
        [("Upload", "file-upload")]) }} 
        {{ dropdown("Statistics",
        [("Descriptive Statistics", "descriptive-stat"),
        ("1-Sample t-test", "ttest_1")
        ]) }}
    </ul>

</div>

<div class="content">
    <div class="row row-xs-height">
        <div class="col-md-6 col-xs-heigth display">
            <h1>Results</h1>
            <div class="panel-group" id="results" role="tablist" aria-multiselectable="true"></div>
        </div>
        <div id="data" class="col-md-6 display"> <h1>Data</h1> </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='js/socket.io-0.9.16.js')}}"> </script>
<script src="{{url_for('static', filename='js/events.js')}}"> </script>
<script src="{{url_for('static', filename='js/form.js')}}"> </script>
{% endblock %}
