<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Vind </title>
        {% block css %}
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap-3.3.0.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
        {% endblock %}
    </head>
    <body>
        {% block modals %}
        {% endblock %}
        <div class="container container-xs-height">
            {% block content %}
            {% endblock %}
        </div>
        {% block scripts %}
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>
        <script src="{{url_for('static', filename='js/jquery-2.1.1.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap-3.3.0.min.js')}}"></script>
        {% endblock %}
    </body>
</html>
